@font-face {
    font-family: "Allegratta Personal Use Regular";
    src: url("./Allegratta_Personal_Use.ttf");
}

.contain {
    height: 1000px;
}

.contentDiv {
    height: 10%;
    width: 25%;
    font-family: "Allegratta Personal Use Regular";
    font-size: 7em;
    color: darkslategrey;
    margin-left: 40%;
    padding: 35% 3% 0 0;

}

.hello {
    padding-bottom: 0px;
}