@font-face {
    font-family: "Allegratta Personal Use Regular";
    src: url("./Allegratta_Personal_Use.ttf");
}

.contain {
    height: 3000px;
}

.contentDiv {
    height: 10%;
    width: 25%;
    font-family: "Allegratta Personal Use Regular";
    font-size: 7em;
    color: white;
    margin-left: 13%;
    padding: 35% 3% 0 0;

}

.hello {
    padding-bottom: 30px;
}

body {
    background: black;
}

.image {
    margin: 0 auto;
    width: 30%;
}