@font-face {
    font-family: "Allegratta Personal Use Regular";
    src: url("./Allegratta_Personal_Use.ttf");
}

.contain {
    height: 1000px;
    width: 100%;
    perspective: 2px;
}

.contentDiv {
    height: 10%;
    width: 25%;
    font-family: "Allegratta Personal Use Regular";
    font-size: 7em;
    color: white;
    margin-left: 13%;
    padding: 10% 3% 0 0;

}

/* .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
} */

/* .bg1::after {
    background-image: url("./image1.jpg");
} */

.imageDiv {
    position: relative;
    margin-top: 1px;
    width: 100%;
    z-index: -1;
}

.lowerGradient {
    height: 400px;
    width: 100%;
    box-shadow: inset 0px -200px 300px -50px black;
    position: relative;
    bottom: 400px;
}

.image {
    width: 100%;
    z-index: -1;
}
