.col-md {
    height: 300px;
    background-color: white;
    margin: 20px 50px;
    padding: 40px;
}

.pad {
    padding: 0 20px;
    padding-top: 75px;
    height: 2000px;
}

.holder {
  background-color: rgb(29, 29, 29);
}

.container {
  width:100%;
  margin: 0 auto;
}

.margin {
    margin-top: 157px;
}

/* always check */

.module-border-wrap1 {
    padding: 1rem;
    background: linear-gradient(to bottom right, rgb(109, 109, 255), rgb(253, 255, 106));
    padding: 3px;
    border-radius: 1%;
  }

  .module-border-wrap2 {
    padding: 1rem;
    background: linear-gradient(to top left, rgb(255, 98, 77),rgb(80, 255, 132));
    padding: 3px;
    border-radius: 1%;
  }

  .module-border-wrap3 {
    padding: 1rem;
    background: linear-gradient(to top right , rgb(109, 109, 255), rgb(255, 98, 77));
    padding: 3px;
    border-radius: 1%;
  }

  .module-border-wrap4 {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(255, 104, 247), rgb(80, 255, 132));
    padding: 3px;
    border-radius: 1%;
  }

  .buttonDiv {
    position: relative;
    top: 235px;
  }
  
  .module {
    height: 100%;
    background: rgb(41, 41, 41);
    color: white;
    text-align: center;
    border-radius: 1%;
  }