.fixed {
  position: fixed;
  top: -85px;
  width: 100%;
}

.unFixed {
  visibility: hidden;
}

.wrap {
  z-index: 10;
  height: 160px;
  width: 100%;
}

.nameFont {
    opacity: 1;
    font-family: "Allegratta Personal Use Regular";
    font-size: 4em;
    color: white;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    text-decoration: none;
    padding-left: 15px;
    background-color: black;
}

.onLoad {
  transition: all 0.7s ease;
}

.nameFont:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  transition: all 0.7s ease;
}

a:hover {
  text-decoration: none;
}

.titleShadow {
  height: 125px;
  width: 100%;
  box-shadow: inset 0px 125px 90px -75px black;
  position: relative;
  top: -8px;
}