
li {
    background-color: black;
    margin: 0 125px;
    color: white;
}

.nav-a {
    position: relative;
    width: 100%;
    color: white;
    top: 30px;
    transition: color 0.3s ease-in-out;
}

.nav-a:hover {
    color: grey;
    text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0px;
}

.initialFont {
    filter: invert(100%);
    background-color: white;
    height: 75px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.imageItem {
    background-color: black;
    margin: 0;
}

nav {
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

@media (max-width: 1500px) {
    .navbar-nav {
        display: block;

    }
}